@model Model.EF.Contact
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

@*<style>
        #mapCanvas {
            height: 600px;

        }
    </style>*@

@section jsFooter{

    <script src="/Assets/Client/js/controller/contactController.js"></script>
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Liên hệ</h2>
                    <p>Sự hài lòng của quý khách là niềm vui của chúng tôi!</p>
                </div>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/lien-he">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Điện thoại</h4>
                    <p>+01-3-8888-6868</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Địa chỉ</h4>
                    <p>Đ/c: 18 Phố Viên - Bắc Từ Liêm - Hà Nội</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Thời gian mở cửa</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>kiemhip.humg@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.0173363612616!2d105.77172461539!3d21.071969791676576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134552defbed8e9%3A0x1584f79c805eb017!2sHanoi%20University%20of%20Mining%20and%20Geology!5e0!3m2!1sen!2s!4v1631784344270!5m2!1sen!2s"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Đại Học Mỏ-địa Chất</h4>
            <ul>
                <li>SĐT: +12-345-6789</li>
                <li>Đ/c: 18 Phố Viên - Bắc Từ Liêm - Hà Nội</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    @*@Html.Raw(Model.Content)*@
                    <h2>Gửi thông tin</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" id="txtName" placeholder="Họ tên">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" id="txtMobile" placeholder="Điện thoại">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" id="txtAddress" placeholder="Địa chỉ">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" id="txtEmail" placeholder="Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea id="txtContent" placeholder="Yêu cầu"></textarea>
                    <button id="btnSend" type="submit" class="site-btn">Gửi đi</button>
                </div>
            </div>
        </form>
    </div>
</div>
